<h1 id="title">OXYS CLOTHES</h1>
<%if session[:username]%>
    <form action="/logout" method="post">
        <input type="submit" value="LOGOUT">
    </form>
<%else%>
    <a href="/login"> LOGIN</a>
    <a href="/register"> REGISTER</a>
<%end%>
<%if session[:role] == "admin"%>
    <a href="/admin"> ADMIN</a>
<%end%>
<br>
<br>
<br>
<div class="items">
    <%@items.each do |item|%>
        <a href="http://localhost:9292/item/<%=item["id"]%>">
            <div class="wrapitems">
                <%imglink = item["image"]%>
                <%name = item["name"]%>
                <%price = item["price"]%>
                <img src="<%=imglink%>" width="500" height="600"></img>
                <h2><%=name%></h2>
                <h2><%=price%>kr</h2>
            </div>
        </a>
        <%if session[:role] == "admin"%>
            <a href="http://localhost:9292/item/<%=item["id"]%>/edit">EDIT ITEM</a>
        <%end%>
        <%if session[:role] == "admin"%>
            <form action="http://localhost:9292/item/<%=item["id"]%>/delete" method="post">
                <input type="submit" value="DELETE ITEM">
            </form>
        <%end%>
    <%end%>
    <%if session[:role] == "admin"%>
        <a href="/create">CREATE ITEM</a>
    <%end%>
</div>
